<div class="navbar-container">
  <div class="navbar-actions">
    
    <div class="action-item">
      <nz-badge [nzCount]="9" [nzOffset]="[2, 2]" class="red-badge">
        <span nz-icon nzType="message" nzTheme="outline" class="nav-icon"></span>
      </nz-badge>
    </div>

    <div class="action-item">
      <nz-badge [nzCount]="9" [nzOffset]="[2, 2]" class="red-badge">
        <span nz-icon nzType="bell" nzTheme="outline" class="nav-icon"></span>
      </nz-badge>
    </div>

    <div class="action-item">
      <nz-avatar 
        nzSize="large" 
        nzText="PM" 
        class="user-avatar">
      </nz-avatar>
    </div>

  </div>
</div>